<div>
  <div>
    <p>{{ value }}</p>
    <p>{{ operatorResult }}</p>
  </div>
  <div>
    <button (click)="pressKey('AC')">AC</button>
    <button (click)="pressKey('%')">%</button>
    <button (click)="pressKey('/')">/</button>
  </div>
  <div>
    <button (click)="pressKey('9')">9</button>
    <button (click)="pressKey('8')">8</button>
    <button (click)="pressKey('7')">7</button>
    <button (click)="pressKey('*')">*</button>
  </div>
  <div>
    <button (click)="pressKey('6')">6</button>
    <button (click)="pressKey('5')">5</button>
    <button (click)="pressKey('4')">4</button>
    <button (click)="pressKey('-')">-</button>
  </div>
  <div>
    <button (click)="pressKey('3')">3</button>
    <button (click)="pressKey('2')">2</button>
    <button (click)="pressKey('1')">1</button>
    <button (click)="pressKey('+')">+</button>
  </div>
  <div>
    <button (click)="pressKey('0')">0</button>
    <button (click)="pressKey('.')">.</button>
    <button (click)="getResult()">=</button>
  </div>
</div>
